{% extends 'Navbar/usernavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <style>
        .card-container {
            display: flex; /* Use flexbox layout */
            flex-wrap: wrap; /* Allow wrapping to the next line if necessary */
            gap: 20px; /* Add some space between cards */
        }

        .card {
            width: 200px; /* Set a fixed width for each card */
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
{% block body %}


<div class="card-group">
  <div class="card">
  <img src="{% static 'images/ambajipet.jpg' %}" class="card-img-top" alt="SONG1" width="250" height="250">
  <div class="card-body">
    <h5 class="card-title"> Ambajipeta Marriage Band - Gumma</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 1year ago</small></p>
    <audio controls>
      <source src="{% static 'audio/Chaleya.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
  <div class="card">
  <img src="{% static 'images/darshana.jpg' %}" class="card-img-top" alt="SONG1" width="250" height="250">
  <div class="card-body">
    <h5 class="card-title"> Darshana </h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 5 years ago</small></p>
    <audio controls>
      <source src="{% static 'audio/Life of ram.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
  <div class="card">
  <img src="{% static 'images/kuttistory.jpg' %}" class="card-img-top" alt="SONG1" width="250" height="250">
  <div class="card-body">
    <h5 class="card-title"> Kutti Story</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 5 years ago</small></p>
    <audio controls>
      <source src="{% static 'audio/Maate vinadhuga.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>

<div class="card">
  <img src="{% static 'images/madhara.jpg' %}" class="card-img-top" alt="SONG1" width="250" height="250">
  <div class="card-body">
    <h5 class="card-title">madharasapattinam </h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 5 years ago</small></p>
    <audio controls>
      <source src="{% static 'audio/Let me love you.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
  <div class="card">
  <img src="{% static 'images/Adiye.jpg' %}" class="card-img-top" alt="SONG1" width="250" height="250">
  <div class="card-body">
    <h5 class="card-title"> Adiye </h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 5 years ago</small></p>
    <audio controls>
      <source src="{% static 'audio/adiye.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
{% endblock %}
  </div>
</body>
</html>